.editor {
  margin-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  height: 800px;
  padding-bottom: 100px;
}

.title {
  width: 100%;
  outline: none;
  border: none;
  height: 50px;
  font-size: 25px;
}

/* .post {
  outline: none;
  border: none;
  background-color: #bee3ee;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: background-color 0.4s linear;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.link {
  text-decoration: none;
}
.link:visited {
  color: black;
}

.post:hover {
  background-color: rgba(190, 227, 238, 0.7);
} */

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
